
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@*<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>*@
<script src="~/js/jquery-1.8.2.min.js"></script>
<script src="~/js/jquery.form.js"></script>

<form method="post" id="updatereviseform" action="/Upload/Idcard" enctype="multipart/form-data">
    <label>选择身份证：</label>  <input type="file" name="upload" />
    <label>是否正面：</label> <input type="checkbox" checked="checked" name="id_card_side" /><br />
    @*<input type="button" id="btn" value="上传" />*@
    <input type="submit" id="btn" value="识别图片" />
    <br />
    <img src="~/images/a1.png"/>
    <textarea id="msgresult" cols="100" rows="10"></textarea>
</form>
    
<form method="post" id="updatereviseform1" action="/Upload/BusinessLicense" enctype="multipart/form-data">
    <label>选择营业执照：</label>  <input type="file" name="upload" />   
   
    <input type="submit" id="btn" value="识别图片" />
    <br />
    <textarea id="msgresult1" cols="100" rows="10"></textarea>
</form>

<script type="text/javascript">

    $(function () {

        $("#updatereviseform").submit(function () {
            $(this).ajaxSubmit({
                success: function (data) { // data 保存提交后返回的数据，一般为 json 数据

                    console.log(data);
                    if (data.isSucceed) {
                        $("#msgresult").val(data.date)

                    } else {
                        alert(data.resultMsg)
                    }
                }
            });
            return false;
        });
        $("#updatereviseform1").submit(function () {
            $(this).ajaxSubmit({
                success: function (data) { // data 保存提交后返回的数据，一般为 json 数据

                    console.log(data);
                    if (data.isSucceed) {
                        $("#msgresult1").val(data.date)

                    } else {
                        alert(data.resultMsg)
                    }
                }
            });
            return false;
        });
    })






        //$(function () {
        //    $("#btn").click(function () {
        //        $("#updatereviseform").ajaxSubmit({
        //            url: "~/Upload/Idcard",
        //            type: "post",
        //            success: function (data) {
        //                alert(data);

        //            }
        //        });
        //    });
        //})


</script>
